{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>DBMS</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <style>
      .main-content {
        margin-top: 20px;
        margin-left: 0px;
      }

      .navbar {
        margin-bottom: 20px;
        padding-left: 20px;
      }

      .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .list-group-item a {
        flex-grow: 1;
      }

      .table {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DBMS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <a class="nav-link" href="{% url 'table_list' %}">Tables</a>
          <a class="nav-link" href="{% url 'load_tables' %}">Analytics</a>
        </ul>
      </div>
    </nav>

    <div class="container main-content">
      {% block content %}
      <!-- Content goes here -->
      {% endblock %}
    </div>

    {% if messages %}
    <div class="container">
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
